{
  "extends": "@coinify/eslint-config-coinify",
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "project": "./tsconfig.json"
  },
  "env": {
    "browser": true,
    "es6": true,
    "node": true,
    "mocha": true,
    "jest": true
  },
  "rules": {
    "@typescript-eslint/no-extra-parens": "off",
    "array-bracket-spacing": "off"
  }
}
